{% extends 'admin/adminbasefront.html.twig' %}

{% block title %}Ajouter une formation{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Ajouter une formation</h1>
        &nbsp;
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group row">
                {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            &nbsp;
            <div class="form-group row">
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            &nbsp;
            <div class="form-group row">
                {{ form_label(form.publishedAt, 'Date', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.publishedAt, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            &nbsp;
            <div class="form-group row">
                {{ form_label(form.playlist, 'Playlist', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.playlist, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            &nbsp;
            <div class="form-group row">
                {{ form_label(form.categories, 'Catégories', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.categories, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            &nbsp;
            <div class="form-group row">
                {{ form_label(form.videoId, 'VideoID', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.videoId, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            &nbsp;
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <a href="{{ path('admin.formations') }}" class="btn btn-secondary">Retour</a>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}